@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-mint text-navy;
  }
}

@layer components {
  .btn-primary {
    @apply rounded-md bg-navy text-white py-2 px-4 hover:bg-aqua hover:text-navy transition;
  }
  .btn-secondary {
    @apply rounded-md bg-aqua/40 text-navy py-2 px-4 hover:bg-aqua/60 transition;
  }
}
