/script/raw/*
/script/__pycache__
/script/scrape/__pycache__
/script/venv
/script/.env
/server/node_modules
/server/.env*
/node_modules/

# Development tools (local only - not pushed to remote)
/server/dev-tools/
server.log
/tmp/server.log
/FIREBASE_AUTH*
/FIREBASE_SETUP*
